@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* off-white */
    --color-bkg: 210deg 40% 98%; 
    /*--color-bkg: 83deg 89% 54%;  lime */
    --color-content: 217deg 32.6%, 17.5%; /* dark blue */
    --color-accent1: 191deg 89% 54%; /* cyan */
    --color-accent2: 292deg 89% 54%; /* fushia */
  }

  .dark {
    /* dark blue */
    --color-bkg: 217deg 32.6%, 17.5%; 
    /* lime */
    /* --color-bkg: 83deg 89% 54%;  */
    /*off-white*/
      --color-content: 210deg 40% 98%; 
      /* cyan */
      --color-accent1: 191deg 89% 54%; 
      /* fushia */
      --color-accent2: 292deg 89% 54%; 
    } 
}